.saleList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
}

.saleList__filters {
    margin-left: auto;
    margin-right: 0px;
    background-color: rgb(167, 130, 130);
    color: rgb(250, 239, 239);
    width: 200px;
    border-radius: 3px;
    padding: 0.1px 5px 2px 5px;
}

