.saleItem__content {
    border: solid rgb(103, 98, 98);
    box-shadow: 6px 6px 10px black;
    width: 170px;
    padding: 10px 15px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: center;
    background-color: rgb(243, 242, 247);
    height: 340px;
    position: relative;
}

.saleItem__heart {
    position: relative;
    top: 0px;
    left: 60px;
    cursor: pointer;
}

.saleItem__image {
    width: 125px;
    margin : auto;
    cursor: pointer;
}

img {
    max-width: 95%;
    transition: transform .1s;
}

img:active {
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
}

.saleItem__price {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.saleItem__btn button {
    background-color: rgb(223, 210, 210);
    border-color: rgb(167, 130, 130);
    cursor: pointer;
    border-radius: 8px;
    padding: 2px 5px;
    position: absolute;
    bottom: 15px;
    right:20px;
}



.saleItem__btn button:hover {
    background-color: rgb(85, 27, 27);
    color: white;
}

.saleItem__btn-remove button {
    background-color: rgb(227, 185, 185);

}

